@media (max-width: 639px) {

    
   .pesquisa {
        display: none;
    }

    .navdesk {
        display: none;
    }

    .btnDesk {
        display: none;
    }

   
    .yasuoTitleDesk {
        display: none;
    }

    .yasuo {
        display: none;
    }

    .japones {
        display: none;
    }

    .subtitle {
        display: none;
    }

    .rolesDesk {
        display: none;
    }

    .desk {
        display: none;
    }
}


@media (min-width: 940px) {
   .btnMobile {
    display: none;
   }
   .yasuoTitleMobile {
    display: none;
   }

   .rolesMbl {
     display: none;
   }

   .mobile {
    display: none;
   }
}

