@media (max-width: 639px) {
   .pesquisa {
        display: none;
    }

    .navdesk {
        display: none;
    }

    .btnDesk {
        display: none;
    }

   
    .yasuoTitleDesk {
        display: none;
    }

    .yasuo {
        display: none;
    }

    .japones {
        display: none;
    }

    .subtitle {
        display: none;
    }
}
/* Estilos para desktop (mantém o comportamento original) */
@media (min-width: 940px) {
   .btnMobile {
    display: none;
   }
   .yasuoTitleMobile {
    display: none;
   }
}

